body{
    margin: 0px;
    padding: 0px;
}
.body{
   background-image: url('bg2.jpg') ;
}
.bgimg {
    background-image: url('bg.png') ;
   width: 1349.1px;
    height: 595.5px;
    background-size: 100%;
   
}
.bgimg img{
    width: 800px;
    height: 240px;
    margin-top: 230px;
}
.nav{
margin-left: 150px;
color: white;
font-size: 22px;
margin-top: 40px;
margin-right: 100px;
font-family: Beyond The Mountains;
}
li{
    list-style-type: none;
    
    display: inline;
   
    float: right;
    padding-left: 50px;
}
a:link{
    text-decoration: none;
    color: blueviolet;
}
a:visited{
    text-decoration: none;
    color: orangered;
}
.nav a:hover{
    text-decoration: none;
    background-color: #666666;
}
a:active{
color: lightgrey;
}
.me img{
    margin-top: 50px;
    width: 600px;
    height: 250px;
}
.content{
    background-color: silver;
    margin-left: 150px;
    margin-right: 150px;
    text-align: justify;
}
.content p{
    margin-top: 40px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 17px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: Kristen ITC;
}
.footer hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 4px solid #D8D8D8;
    margin: 1em 0;
    padding: 0; 
}
.footer{
    margin-top: 50px;
    margin-left: 150px;
    margin-right: 150px;
    
}
.footer p{
    font-family: Kristen ITC;
    color: #302F2F;
}