body{
    margin: 0px;
    padding: 0px;
}
.body{
   background-image: url('bg2.jpg') ;
}
.bgimg {
    background-image: url('bg.png') ;
    width: 1349.1px;
    height: 595.5px;
    background-size: 100%;
   
}
.bgimg img{
    width: 800px;
    height: 240px;
    margin-top: 230px;
}
.nav{
margin-left: 150px;
color: white;
font-size: 22px;
margin-top: 40px;
margin-right: 100px;
font-family: Beyond The Mountains;
}
li{
    list-style-type: none;
    
    display: inline;
   
    float: right;
    padding-left: 50px;
}
a:link{
    text-decoration: none;
    color: blueviolet;
}
a:visited{
    text-decoration: none;
    color: orangered;
}
.nav a:hover{
    text-decoration: none;
    background-color: #666666;
}
a:active{
color: lightgrey;
}
.cute{
padding-top: 5px;
width: 200px;
height: 200px;
}
.cute2{
width: 200px;
height: 200px;  
}
.logo98{
    
    width: 170px;
    height: 165px;
    padding-left: 25px;
}
.content{
    margin-top: 150px;
    margin-left: 150px;
    margin-right: 150px;
    background-color: white;
}
.content p{
    margin-left: 15px;
    color: black;
    font-size: 22px;
    padding-bottom: 20px;
}
.footer hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 4px solid #D8D8D8;
    margin: 1em 0;
    padding: 0; 
}
.footer{
    margin-top: 50px;
    margin-left: 150px;
    margin-right: 150px;
}
.footer p{
    font-family: Kristen ITC;
    color: #302F2F;
}